
        body {
            font-family: 'Arial', sans-serif;
        }
        header {
            background-color: #343a40;
            color: white;
            padding: 70px 20px;
            text-align: left;
        }
        section {
            padding: 50px 20px;
            text-align: left;
        }
        h2 {
            color: #343a40;
            
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        footer {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 20px 0;
        }
        .about-section {
            text-align: left;
        }
       
        
       
